<br>
<div class="card text-center" style="width: 50%; text-align: center; display: flex; justify-content: center; margin: 0 auto;">
    <div class="card-header">
        Sobre PedroPing
    </div>
        <div class="card-body">
            <h5 class="card-title">Desenvolvedor Front-End Angular Junior</h5>
            <p class="card-text">Esse projeto foi feito com o unico intuito de aprender mais sobre Angular</p>
            <a href="https://github.com/pedroping" target="_blank" class="btn btn-primary">GitHub</a>
        </div>
    <div class="card-footer text-muted">
        6/11/2022
    </div>
</div>

